<section class="relative h-screen overflow-hidden">
    <div class="absolute z-20 grid w-full px-10 py-18 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <img src="{{image}}" alt="" 
        class="absolute z-10 h-screen w-full object-cover animate-zoom">
        <div class="absolute z-20 grid max-w-screen-xl px-24 py-28 mx-auto lg:gap-8 xl:gap-0 lg:py-26 lg:grid-cols-12">
            <div class="m-10 mr-auto place-self-center lg:col-span-12">
                <h1 class="max-w-5xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-8xl text-white ">{{title}}</h1>
                <p class="max-w-2xl mb-6 font-semibold text-white lg:mb-8  text-5xl leading-8">{{describe}}</p>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <!-- Aquí puedes agregar contenido adicional si es necesario -->
            </div>
        </div>
        <div class="absolute z-30 flex justify-center items-end w-full h-screen py-11">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-16 h-16 animate-bounce">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
            </svg>
        </div>
          
    </div>
    
      
</section>