
    <footer class="relative bg-white">
      <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200">
          <div class="flex h-16 items-center">
  
  
            <!-- Flyout menus -->
            <div class="hidden lg:ml-8 lg:block lg:self-stretch">
              <div class="flex h-full space-x-8">
                <div class="flex">
                  <div class="absolute inset-x-0 top-full text-sm text-gray-500">
                    <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                    <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
  
                    <div class="relative bg-zinc-900">
                      <div class="mx-auto max-w-7xl px-8 pt-20">
                        <div class="row-start-1 flex flex-row text-lg px-40 justify-between">
                          <div class="items-start">
                            <p id="Clothing-heading" class="font-medium text-white">Redes Sociales</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-2">
                              <li class="flex items-center">
                                <span class="[&>svg]:h-5 [&>svg]:w-5">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="gray"
                                    viewBox="0 0 320 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                    <path
                                      d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
                                  </svg>
                                </span>
                                <a href="#" class="ml-4 hover:text-gray-800">Facebook</a>
                              </li>
                              <li class="flex items-center">
                                <span class="[&>svg]:h-5 [&>svg]:w-5">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="gray"
                                    viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                    <path
                                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                                  </svg>
                                </span>
                                <a href="#" class="ml-4 hover:text-gray-800">Instagram</a>
                              </li>
                              <li class="flex items-center">
                                <span class="[&>svg]:h-5 [&>svg]:w-5">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="gray"
                                    viewBox="0 0 576 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                    <path
                                      d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z" />
                                  </svg>
                                </span>
                                <a href="#" class="ml-4 hover:text-gray-800">Youtube</a>
                              </li>
                              <li class="flex items-center">
                                <span class="[&>svg]:h-5 [&>svg]:w-5">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="gray"
                                    viewBox="0 0 448 512">
                                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                                    <path
                                      d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
                                  </svg>
                                </span>
                                <a href="#" class="ml-4 hover:text-gray-800">Tiktok</a>
                              </li>
                            </ul>
                          </div>
                          <div class="flex flex-row">
                            <div class="px-20">
                              <p id="Accessories-heading" class="font-medium text-white">Lugares</p>
                              <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-2">
                                <li class="flex">
                                  <a href="/places/castillo-forga" class="hover:text-gray-800">Castillo Forga</a>
                                </li>
                                <li class="flex">
                                  <a href="/places/muelle-turistico" class="hover:text-gray-800">Muelle Turistico</a>
                                </li>
                                <li class="flex">
                                  <a href="/places/cruz-de-fierro" class="hover:text-gray-800">Cruz de Fierro</a>
                                </li>
                                <li class="flex">
                                  <a href="/places/playas-de-mollendo" class="hover:text-gray-800">Playa Mollendo</a>
                                </li>
                                <li class="flex">
                                  <a href="/places/caleta-catarindo" class="hover:text-gray-800">Catarindo</a>
                                </li>
                                <li class="flex">
                                  <a href="/places/obelisco-grande" class="hover:text-gray-800">Obelisco Grande</a>
                                </li>
                              </ul>
                            </div>
                            <div class="px-20">
                              <p id="Brands-heading" class="font-medium text-white">Hoteles</p>
                              <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-2">
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">Full Nelson</a>
                                </li>
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">My Way</a>
                                </li>
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">Re-Arranged</a>
                                </li>
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">Counterfeit</a>
                                </li>
                                <li class="flex">
                                  <a href="#" class="hover:text-gray-800">Significant Other</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        
                        <div class="py-12 sm:py-24">
                          <div class="mx-auto max-w-7xl px-6 lg:px-8">
                            <h2 class="text-center text-lg font-semibold leading-8 text-white">Los equipos más innovadores del mundo confían en nosotros</h2>
                            <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-white.svg" alt="Transistor" width="158" height="48">
                              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-white.svg" alt="Reform" width="158" height="48">
                              <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-white.svg" alt="Tuple" width="158" height="48">
                              <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-white.svg" alt="SavvyCal" width="158" height="48">
                              <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-white.svg" alt="Statamic" width="158" height="48">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="relative bg-black py-2 sm:py-8 text-center">
                        <p class="text-center text-sm font-medium uppercase leading-8 text-white">República del Perú - Comisión de Promoción del Perú para la Exportación y el Turismo - PROMPERÚ www.promperu.gob.pe</p>
                        <a class="text-center text-lg font-semibold leading-8 text-white underline">Términos y condiciones</a>
                        <span class="text-center text-lg font-semibold leading-8 text-white "> | </span>
                        <a class="text-center text-lg font-semibold leading-8 text-white underline">Aviso de privacidad</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </footer>
