<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">Puerto bravo</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Mollendo</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Mollendo es una ciudad peruana capital del distrito homónimo y de la provincia de Islay, ubicada en el departamento de Arequipa en el sudoeste del Perú. Se encuentra ubicada a orillas del mar Peruano a 85 km de la ciudad de Arequipa. Es la estación inicial del Ferrocarril del Sur que lo conecta con las ciudades de Arequipa, Cuzco, Puno y Juliaca.</p>
          </div>
        </div>
      </div>
      <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="https://live.staticflickr.com/2370/2198580217_4896cdd2c0_b.jpg" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <p>Es la tercera ciudad en población del departamento con 22 389 hab. en 2015. Mollendo constituye también el segundo foco económico de la región, su puerto Matarani es el principal puerto del sur peruano. En 2016 exportó 5 Mt entre granos y concentrado de mineral provenientes de las minas de Antapaccay, Cerro Verde y Las Bambas. Por Matarani también se exporta carga procedente de Brasil a través de la carretera Interoceánica.

              La ciudad no tuvo fundación oficial, pero el 6 de enero de 1871 se toma como fecha de aniversario, por ser la fecha en la que se inauguró el Ferrocarril del Sur propiciando el despegue de la ciudad.</p>
            <ul role="list" class="mt-8 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                
                <span><strong class="font-semibold text-gray-900">Alrededores</strong> A 22 km al noroeste de la ciudad se encuentra una gran caldera volcánica de unos 5 km de diámetro. Las coordenadas son:-16.826421° -72.088179° También se encuentra a 5 km, al norte otro antiguo volcán extinguido con una gran caldera muy abierta hacia el sur, y mirando hacia Mollendo, siendo sus coordenadas -16.989252° -72.000227°. La cordillera de la costa peruana, es la principal zona geográfica del distrito.</span>
              </li>
              <li class="flex gap-x-3">
                
                <span><strong class="font-semibold text-gray-900">Demografía</strong> Para el año 1991, Mollendo tenía más de 22 mil habitantes, para 1995, tenía más de 25 mil habitantes y según en Instituto Nacional de Estadística e Informática en 2000 tenía 27.710 habitantes y para 2002 Albergaba una población de 28 305 hab. Sobre el Censo de 2007 no hay registros exactos.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
